#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #fdfdfd !important;
  stroke-width:2px;
  stroke-linejoin: round;
  opacity: 1;
  cursor: pointer;
}
#DC {
  display: none;
}

.demind {
  fill: rgb(19, 160, 160);
}

.demind:hover {
  fill: rgba(19, 160, 160, 0.705);
}

.dem {
  fill: rgb(19, 47, 160);
}

.dem:hover {
  fill: rgb(15, 32, 104);
}

.gop {
  fill: #A20303;
}
.gop:hover {
  fill: rgb(102, 2, 2);
}

.gopind {
  fill: rgb(162, 106, 3);
}
.gopind:hover {
  fill: rgba(162, 106, 3, 0.808);
}


.none {
  fill: #777;
}

.dem.gop, .dem-gop, .gop-dem {
  fill: #672071;
}
.dem.gop:hover, .dem-gop:hover, .gop-dem:hover {
  fill: #3b1241;
}

/* Mixed States using patterns */
.gop.ind, .gop-ind, .ind-gop {
  fill: url('#gop-ind');
}

.dem.ind, .dem-ind, .ind-dem {
  fill: url('#dem-ind');
}

.gop.none, .gop-none, .none-gop {
  fill: url('#gop-none');
}

.dem.none, .dem-none, .none-dem {
  fill: url('#dem-none');
}

.ind.none, .ind-none, .none-ind {
  fill: url('#ind-none');
}

.demind.none, .demind-none, .none-demind {
  fill: url('#demind-none');
}

.gopind.none, .gopind-none, .none-gopind {
  fill: url('#gopind-none');