<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 

  <section id="services">
      

  <div class="container">

      
          <div class="col-lg-8 m-5 mx-auto mb-4 text-center">
            <h1>About SenateStats</h1>
            <p class="lead">SenateStats is an interactive website that provides information and interesting facts about states, senators and political parties in the United States.</p>
         
            <h2>Members</h2>
 
        </div>

      <div class="row justify-content-center">
          <div class="card mx-4 mb-4 text-center" style="width: 17rem;">
              <img class="card-img-top" src="/static/img/isabel.jpg" alt="Card image cap">
              <div class="card-body lead">
                <h5 class="card-title">Isabel Cachola</h5>
                <h6 class="card-subtitle mb-2 text-muted">Flask backend and Political Parties pages</h6>
                <p class="card-text">I am a senior math major and this is my last elements course!</p>
                <p class="card-text">Commits: {{member_stats.loc["Isabel Cachola","NUM_COMMITS"]}}<br>
                Issues: {{member_stats.loc["Isabel Cachola","NUM_ISSUES"]}}<br>
                Unit tests: 3
              </p>
              </div>
          </div>

          <div class="card mx-4 mb-4 text-center" style="width: 17rem;">
            <img class="card-img-top" src="/static/img/saamiha.JPG" height="375px" alt="Card image cap">
            <div class="card-body lead">
              <h5 class="card-title">Saamiha Kenkare</h5>
              <h6 class="card-subtitle mb-2 text-muted">Frontend for State page</h6>
              <p class="card-text">I am a senior nutrition major!</p>
              <p class="card-text">Commits: {{member_stats.loc["Saamiha Kenkare","NUM_COMMITS"]}}<br>
              Issues: {{member_stats.loc["Saamiha Kenkare","NUM_ISSUES"]}}<br>
              Unit tests: 3
              </p>
            </div>
          </div>

          <div class="card mx-4 mb-4 text-center" style="width: 17rem;">
            <img class="card-img-top" src="/static/img/Adolfo.jpg" height="375px" alt="Card image cap">
            <div class="card-body lead">
              <h5 class="card-title">Jesús Adolfo Hermosillo</h5>
              <h6 class="card-subtitle mb-2 text-muted">Frontend for Home and Map page</h6>
              <p class="card-text">I am a junior Linguistics and Spanish double major.</p>
              <p class="card-text">Commits: {{member_stats.loc["Jesús Adolfo Hermosillo","NUM_COMMITS"]}}<br>
              Issues: {{member_stats.loc["Jesús Adolfo Hermosillo","NUM_ISSUES"]}}<br>
              Unit tests: 3
              </p>
            </div>
          </div>
        </div>

    </div>
    <div class="row justify-content-center">

        <div class="card mx-4 mt-4 text-center" style="width: 17rem;">
            <img class="card-img-top" src="/static/img/Malavika.jpg" height="375px" alt="Card image cap">
            <div class="card-body lead">
              <h5 class="card-title">Malavika Prasad</h5>
              <h6 class="card-subtitle mb-2 text-muted">Frontend for Senators page</h6>
              <p class="card-text">I am a junior majoring in Psychology and getting my certificate in Elements of Computing.</p>
              <p class="card-text">Commits: {{member_stats.loc["Malavika Prasad","NUM_COMMITS"]}}<br>
              Issues: {{member_stats.loc["Malavika Prasad","NUM_ISSUES"]}}<br>
              Unit tests: 3
              </p>
            </div>
          </div>

          <div class="card mx-4 mt-4 text-center" style="width: 17rem;">
              <img class="card-img-top" src="/static/img/nikki_grant.jpg" height="375px" alt="Card image cap">
              <div class="card-body lead">
                <h5 class="card-title">Nikki Grant</h5>
                <h6 class="card-subtitle mb-2 text-muted">GCP/database backend and About page</h6>
                <p class="card-text">I'm a senior linguistics and Russian studies major finishing my Elements of Computing certificate.</p>
              <p class="card-text">Commits: {{member_stats.loc["Nikki Grant","NUM_COMMITS"]}}<br>
              Issues: {{member_stats.loc["Nikki Grant","NUM_ISSUES"]}}<br>
              Unit tests: 3
              </p>
              </div>
          </div>

    </div>
  </div>
  </section>

  <!--section id="stats" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Project Stats</h2>
          <ul class="lead">
            <li>Total number of commits: {{project_stats["num_commits"]}}</li>
            <li>Total number of issues: {{project_stats["num_issues"]}}</li>
            <li>Total number of unit tests: {{project_stats["num_unit_tests"]}}</li>
            <li><a href="{{project_stats['repo_url']}}" target="_blank">Repo</a></li>
            <li><a href="{{project_stats['issue_url']}}" target="_blank">Issue tracker</a></li>
            <li><a href="{{project_stats['wiki_url']}}" target="_blank">Wiki</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section-->

  <section id="data" class="bg-light py-5">
    <div class="container justify-content-center">
      <div class="row">

        <div class="col mx-auto">
          <h2>Tools</h2>
          <ul class="lead">
            <li><a href="https://gitlab.com/">GitLab</a>: For collaboration and code storage</li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a>: For HTML/CSS/JavaScript templates</li>
            <li><a href="http://flask.pocoo.org/">Flask</a>: For backend framework</li>
            <li><a href="https://cloud.google.com/gcp/">Google Cloud Platform</a>: For hosting</li>
            <li><a href="https://postgresapp.com/">PostgreSQL</a>: For database</li>
          </ul>
        </div>

        <div class="col mx-auto">
          <h2>Project Stats</h2>
          <ul class="lead">
              <li>Total number of commits: {{project_stats["num_commits"]}}</li>
              <li>Total number of issues: {{project_stats["num_issues"]}}</li>
              <li>Total number of unit tests: {{project_stats["num_unit_tests"]}}</li>
              <li><a href="{{project_stats['repo_url']}}" target="_blank">Repo</a></li>
              <li><a href="{{project_stats['issue_url']}}" target="_blank">Issue tracker</a></li>
              <li><a href="{{project_stats['wiki_url']}}" target="_blank">Wiki</a></li>
              <li><a href="https://speakerdeck.com/mal98/senatestats-presentation" target="_blank">SpeakerDeck</a></li>
            </ul>

        </div>

        <div class="col mx-auto">
            <h2>Data</h2>
            <ul class="lead">
              <li>All of our Congress and party data is from the <a href="https://projects.propublica.org/api-docs/congress-api/" target="_blank">ProPublica Congress API.</a></li>
              <li>State data is from <a href="https://statesymbolsusa.org/">statesymbolsusa.org</a>, 
                <a href="http://worldpopulationreview.com/states/">worldpopulationreview.com</a>, and <a href="https://www.states101.com/">states101.com</a>.</li> 
              <li>The map is from <a href="https://commons.wikimedia.org/wiki/Main_Page">Wikimedia Commons</a>.</li>
              <li>Images for the homepage come from <a href="https://www.npca.org/parks/arches-national-park">NPCA</a>, <a href="http://www.selfgrowth.info/WDF-17268.html">SelfGrowth</a> and <a href="https://cbeyondata.com/cbeyondata-top-it-companies/the-united-statues-capitol-building/">Cbeyondata</a>.</li>
            </ul>
        </div>

        
      </div>
      <section id="tests" class="bg-light py-5 my-auto">
        <div class="container my-auto justify-content-center">
          <div class="row justify-content-center">
            <div class="col mx-auto text-center">

                <a href="/run_tests" class="nounderline "><button class="btn btn-success p-4 lead" style="font-size: 15pt;">Click here to run unit tests</button></a>

            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
