<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
</head>
<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>

      </div>
    </div>
  </nav>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/state.jpg" alt="States" width="1100" height="500">
      <div class="carousel-caption">
        <a href="/map" style="color:white;">
          <h1>States</h1>
        </a>
        <p>Learn more about the political landscape for every state in America</p>
      </div>
    </div>
    <div class="carousel-item" style="color:white;">
      <img src="static/img/capitol.jpg" alt="Senators" width="1100" height="500">
      <div class="carousel-caption">
        <a href="/senators" style="color:white;">
          <h1>Senators</h1>
        </a>
        <p>Learn more about the senators in the United States Congress</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/img/statue.jpg" alt="Parties" width="1100" height="500">
      <div class="carousel-caption">
        <a href="/party" style="color:white;">
          <h1>Parties</h1>
        </a>
        <p>Learn more about the major political parties in the United States.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

</body>
</html>
