<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{name}}</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>{{name}}</h1>
      <p class="lead">Political Parties in the 116th United States Congress</p>
      <br>
      <a href="/party" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Return to Party Page</a>
    </div>
  </header>

  <section style="padding:5%">
    <div class="container text-left" style="padding-left:38%">
        {% if name == "Democratic Party" %}
            <h4> Number of
                <a href="/senatorsDem">senators</a>
                : {{stats.num_senators}}
            </h4>
        {% elif name == "Republican Party" %}
            <h4> Number of
                <a href="/senatorsRep">senators</a>
                : {{stats.num_senators}}
            </h4>
        {% else %}
            <h4> Number of
                <a href="/senatorsID">senators</a>
                : {{stats.num_senators}}
            </h4>
        {% endif %}
        <h4> Number of representatives: {{stats.num_reps}}</h4>
        <h4> Number of males: {{stats.num_male}}</h4>
        <h4> Number of females: {{stats.num_female}}</h4>
        <h4> Chambers Controlled: {{stats.chambers_controlled}}</h4>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        <style>
        table, th, td {
            text-align: center;
            background-color: whitesmoke;
        }
        th {
            cursor: pointer;
        }
        th, td {
            padding: 25px;
        }

        </style>
  <table id="myTable" data-toggle="table">
      <div class="btn-group">
          <tr>
              <th onclick="sortTable(0)">
                  <button class="btn btn-outline-primary btn-lg">Senator Name</button>
              </th>
              <th onclick="sortTable(1)">
                  <button class="btn btn-outline-primary btn-lg">State</button>
              </th>
              <th onclick="sortTable(2)">
                  <button class="btn btn-outline-primary btn-lg">Party</button>
              </th>
              <th onclick="sortNumericalTable(3)">
                  <button class="btn btn-outline-primary btn-lg">Seniority</button>
              </th>
              <th onclick="sortNumericalTable(4)">
                  <button class="btn btn-outline-primary btn-lg">Years in Senate</button>
              </th>
          </tr>
      </div>

  {% for key in senDict %}
      <tr>
          <td>
              <a href="/senator/{{key}}">{{key}}</a>
          </td>
          <td>
              <a href="/state/{{senDict[key][0]}}">{{senDict[key][0]}}</a>
          </td>
          <td>
              {% if senDict[key][1] == "D" %}
                  <a>{{senDict[key][1]}}</a>
              {% elif senDict[key][1] == "R" %}
                  <a>{{senDict[key][1]}}</a>
              {% else %}
                  <a>{{senDict[key][1]}}</a>
              {% endif %}
          </td>
          <td> {{ senDict[key][2] }} </td>
          <td> {{ senDict[key][3] }} </td>
      </tr>
  {% endfor %}
  </table>
  <script>
  function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchCount = 0;
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc";
      while(switching) {
          switching = false;
          rows = table.rows;
          for(i = 1; i < (rows.length -1); i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i+1].getElementsByTagName("TD")[n];
              if(dir == "asc") {
                  if(x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
              }
          }   else if(dir == "desc") {
                  if(x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
                  }
              }
          }
              if(shouldSwitch) {
                  rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                  switching = true;
                  switchCount ++;
              }   else {
                  if(switchCount == 0 && dir == "asc") {
                      dir = "desc";
                      switching = true;
                  }
              }
          }
      }
      </script>
      <script>
      function sortNumericalTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("myTable");
          switching = true;
          while (switching) {
              switching = false;
              rows = table.rows;
              for (i = 1; i < (rows.length - 1); i++) {
                  shouldSwitch = false;
                  x = rows[i].getElementsByTagName("TD")[n];
                  y = rows[i + 1].getElementsByTagName("TD")[n];
                  if (Number(x.innerHTML) > Number(y.innerHTML)) {
                      shouldSwitch = true;
                      break;
                  }
              }
              if (shouldSwitch) {
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
              }
          }
      }
      </script>

</section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
