<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Political Parties</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header >
    <div class="container text-center">
      <h1>Political Parties in the 116th United States Congress</h1>
      <p class="lead">A breakdown of party and demographic information</p>
    </div>
  </header>

  <div class="container-full ">
    <div class="row">
      <div class="col-md-4" style="padding:5%">
        <div class="thumbnail">
          <a href="/Dem">
            <img src="/static/img/dem.jpeg" alt="dem" style="width:300px;height:200px;border:0">
            <div class="caption">
              <h2 class="text-center">Democratic Party</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4" style="padding:5%">
        <div class="thumbnail">
          <a href="/Rep">
            <img src="/static/img/rep.jpeg" alt="rep" style="width:300px;height:200px;border:0;padding:10%">
            <div class="caption">
              <h2 class="text-center">Republican Party</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4" style="padding:5%">
        <div class="thumbnail">
          <a href="/ID">
            <img src="/static/img/third_party.jpeg" alt="ID" style="width:300px;height:200px;border:0">
            <div class="caption">
              <h2 class="text-center">Third Parties</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
