<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Senators</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        <style>
        table, th, td {
            text-align: center;
            background-color: whitesmoke;
        }
        th {
            cursor: pointer;
        }
        th, td {
            padding: 25px;
        }

        </style>
  <table id="myTable" data-toggle="table">
      <div class="btn-group">
          <tr>
              <th onclick="sortTable(0)">
                  <button class="btn btn-outline-primary btn-lg">Senator Name</button>
              </th>
              <th onclick="sortTable(1)">
                  <button class="btn btn-outline-primary btn-lg">State</button>
              </th>
              <th onclick="sortTable(2)">
                  <button class="btn btn-outline-primary btn-lg">Party</button>
              </th>
              <th onclick="sortNumericalTable(3)">
                  <button class="btn btn-outline-primary btn-lg">Years in Senate</button>
              </th>
              <th onclick="sortNumericalTable(4)">
                  <button class="btn btn-outline-primary btn-lg">Year of Re-Election</button>
              </th>
          </tr>
      </div>

  {% for key in senDict %}
      <tr>
          <td>
              <a href="/senator/{{key}}">{{key}}</a>
          </td>
          <td>
              <a href="/state/{{senDict[key][0]}}">{{senDict[key][0]}}</a>
          </td>
          <td>
              {% if senDict[key][1] == "D" %}
                  <a>{{senDict[key][1]}}</a>
              {% elif senDict[key][1] == "R" %}
                  <a>{{senDict[key][1]}}</a>
              {% else %}
                  <a>{{senDict[key][1]}}</a>
              {% endif %}
          </td>
          <td> {{ senDict[key][2] }} </td>
          <td> {{ senDict[key][3] }} </td>
      </tr>
  {% endfor %}
  </table>
        <div class="m-3">
          <nav aria-label="...">
            <ul class="pagination justify-content-left">
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="/senatorsDem">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="/senatorsDem2">2</a></li>
                <li class="page-item"><a class="page-link" href="/senatorsDem3">3</a></li>
                <li class="page-item"><a class="page-link" href="/senatorsDem4">4</a></li>
                <li class="page-item"><a class="page-link" href="/senatorsDem5">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="/senatorsDem2">Next</a>
                </li>
            </ul>
        </nav>
        </div>
        <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchCount = 0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "asc";
            while(switching) {
                switching = false;
                rows = table.rows;
                for(i = 1; i < (rows.length -1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i+1].getElementsByTagName("TD")[n];
                    if(dir == "asc") {
                        if(x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                    }
                }   else if(dir == "desc") {
                        if(x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                    if(shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                        switching = true;
                        switchCount ++;
                    }   else {
                        if(switchCount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
            </script>
            <script>
            function sortNumericalTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById("myTable");
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
            </script>
            </a>
          </div>
        </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>