<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{state_full}}</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>{{detail.Sen.Name}}</h1>
      <img class="img" src="//graph.facebook.com/{{detail.Sen.FB}}/picture?type=large" alt="Card image cap">
      <p class="lead">{{state}} Senator in the 116th United States Congress</p>
      <a href="/state/{{state_abbrev}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go to {{state}} State Page</a>
    </div>
  </header>



  <section id="about" class="py-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-16 mx-auto text-center">
            <div class="text-nowrap">
                <div class="row justify-content-center">

                <!-- Senator I Info -->
                <div class="card lg-6 mb-4" style="width: 24rem;">.
                <div class="card-body lead">



                <h2 class="card-title"> {{detail.Sen.Name}} ({{detail.Sen.Party}})</h2>
                <p class="card-subtitle mb-2"> <b>Party:</b>
                    {% if detail.Sen.Party == "D" %}
                        <a href="/Dem">Democrat</a>
                    {% elif detail.Sen.Party == "R" %}
                        <a href="/Rep">Republican</a>
                    {% else %}
                        <a href="/ID">Independent</a>
                    {% endif %}
                </p>

                <p class="card-subtitle mb-2"> <b>Rank:</b> {{detail.Sen.Rank}}</p>
                <p class="card-subtitle mb-2"> <b>Reelection Year:</b> {{detail.Sen.Reelection}}</p>
                <p class="card-subtitle mb-2"> <b><a href="{{detail.Sen.Website}}">{{detail.Sen.Website}}</a></b></p>
                <div class="fb-page" data-href="https://www.facebook.com/{{detail.Sen.FB}}" data-tabs="timeline" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/{{detail.Sen.FB}}" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/{{detail.Sen.FB}}">Facebook</a></blockquote></div>
                </div>
                </div>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="card lg-6 mb-4 text-center" style="width: 24rem;">.
                <a class="twitter-timeline" data-width="350" data-height="800" href="https://twitter.com/{{detail.Sen.Twitter}}">Tweets by {{detail.Sen.Twitter}}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

        </div>
        </div>


        </div>
      </div>
    </div>
  </section>

  <!-- <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
