<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{state_full}}</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SenateStats</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/map">States</a>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/senators">Senators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/party">Party</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/about">About</a>
          </li>
          <li class="nav-item">
            {% from "_formhelpers.html" import render_field %}
            <form method=post >
                {{ render_field(form.search) }}
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>{{sdetail.StateFull}} ({{sdetail.StateAbbrev}})</h1>
      <img class="img" src={{stateflag}} width=150 alt="Card image cap">
      <p class="lead">{{sdetail.StateFull}} State Information</p>
      <form action = "/state" method="POST">
  <select id="mySelect" name="stateval">
    <option disabled selected value> Select a State </option>
    <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option></select>
    <input type="submit" value="Go">
    </form>
    </div>
  </header>



  <section id="about" class="py-4">
    <div class="container">
      <div class="row">

        <div class="col-lg-16 mx-auto text-center">
            <div class="text-nowrap">
                <div class="row justify-content-center">

                <!-- Senator I Info -->
                <div class="card lg-6 mb-4" style="width: 24rem;">.
                <div class="card-body lead">



                <h2 class="card-title"> {{sdetail.StateFull}} State Facts</h2>
                <p class="card-subtitle mb-2"> <b>Party:</b>
                    {% if sdetail.StateParty == "Democrat" %}
                        <a href="/Dem">Democrat</a>
                    {% elif sdetail.StateParty == "Republican" %}
                        <a href="/Rep">Republican</a>
                    {% elif sdetail.StateParty == "Independent" %}
                        <a href="/ID">Independent</a>
                    {% elif sdetail.StateParty == "Democrat and Republican" %}
                        <a href="/Dem">Democrat</a> and <a href="/Rep">Republican</a>
                    {% elif sdetail.StateParty == "Republican and Independent" %}
                        <a href="/Rep">Republican</a> and <a href="/ID">Independent</a>
                    {% elif sdetail.StateParty == "Democrat and Independent" %}
                        <a href="/Dem">Democrat</a> and <a href="/ID">Independent</a>
                    {% endif %}
                </p>
                <p class="card-subtitle mb-2"> <b>State Population:</b> {{sdetail.StatePopulation}}</p>
                <p class="card-subtitle mb-2"> <b>State Bird:</b> {{sdetail.StateBird}}</p>
                <p class="card-subtitle mb-2"> <b>State Flower:</b> {{sdetail.StateFlower}}</p>
                <p class="card-subtitle mb-2"> <b>State Quarter:</b></p>
                <img class="img" src={{quarter}} width=150>
                </div>
                </div>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>
                <div class="col-lg-6"><div/>

                                <!-- Senator I Info -->
                <div class="card lg-6 mb-4" style="width: 24rem;">.
                <div class="card-body lead">
                <h2 class="card-title"><a href="/senator/{{sdetail.StateSen1}}">{{detail.Sen1.Name}}</a> ({{detail.Sen1.Party}})</h2>
                <p class="card-subtitle mb-2"> <b>Party:</b>
                    {% if detail.Sen1.Party == "D" %}
                        <a href="/Dem">{{detail.Sen1.Party}}</a>
                    {% elif detail.Sen1.Party == "R" %}
                        <a href="/Rep">{{detail.Sen1.Party}}</a>
                    {% else %}
                        <a href="/ID">{{detail.Sen1.Party}}</a>
                    {% endif %}
                </p>


                <p class="card-subtitle mb-2"> <b>Rank:</b> {{detail.Sen1.Rank}}</p>
                <p class="card-subtitle mb-2"> <b>Reelection Year:</b> {{detail.Sen1.Reelection}}</p>
                <p class="card-subtitle mb-2"> <b><a href="{{detail.Sen1.Website}}">{{detail.Sen1.Website}}</a></b></p>
                </div>
                <div class="card-body lead">

                <h2 class="card-title"><a href="/senator/{{sdetail.StateSen2}}">{{detail.Sen2.Name}}</a> ({{detail.Sen2.Party}})</h2>
                <p class="card-subtitle mb-2"> <b>Party:</b>
                    {% if detail.Sen2.Party == "D" %}
                        <a href="/Dem">{{detail.Sen2.Party}}</a>
                    {% elif detail.Sen2.Party == "R" %}
                        <a href="/Rep">{{detail.Sen2.Party}}</a>
                    {% else %}
                        <a href="/ID">{{detail.Sen2.Party}}</a>
                    {% endif %}
                </p>

                <p class="card-subtitle mb-2"> <b>Rank:</b> {{detail.Sen2.Rank}}</p>
                <p class="card-subtitle mb-2"> <b>Reelection Year:</b> {{detail.Sen2.Reelection}}</p>
                <p class="card-subtitle mb-2"> <b><a href="{{detail.Sen2.Website}}">{{detail.Sen2.Website}}</a></b></p>
                </div>

                </div>


        </div>
        </div>


        </div>
      </div>
    </div>
  </section>

  <!-- <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&#9400 SenateStats</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="../static/js/scrolling-nav.js"></script>

</body>

</html>
